* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  user-select: none;
}
.container {
  color: rgba(255, 255, 255, 0.582);
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 95%;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.856);
  padding: 20px;
  border-radius: 10px;
}
.row-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .row-one {
    flex-direction: column;
  }
  h3,
  .volume,
  .check {
    margin-bottom: 15px;
  }
}
.volume {
  display: flex;
}
.volume label {
  margin-right: 10px;
}
.volume input {
  accent-color: white;
  cursor: pointer;
}
.check {
  display: flex;
}
.check input {
  appearance: none;
  width: 70px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}
.check input::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}
.check input:checked::before {
  left: 40px;
  background-color: white;
}
.row-two {
  margin-top: 30px;
}
.keys {
  display: flex;
  height: 150px;
}
.key {
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.keys .key.white {
  background-image: linear-gradient(to bottom, white 95%, #eee 5%);
  color: rgb(182, 168, 168);
  z-index: 88;
  width: 70px;
  height: 100%;
  border: 1px solid black;
  flex: 1;
}
.keys .key.white.active {
  background-image: linear-gradient(to bottom, #eee, white);
  box-shadow: -5px 5px 20px black inset;
}
.keys .key.black {
  background-image: linear-gradient(to bottom, #333, black);
  color: rgb(182, 168, 168);
  width: 50px;
  height: 60%;
  margin: 0 -29px 0px -22px;
  z-index: 100;
}
@media (max-width: 767px) {
  .keys .key.black {
    width: 15px;
    margin: 0 -8px 0px -22px;
  }
}
.keys .key.black.active {
  background-image: linear-gradient(to bottom, black, #333);
}
span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.hide {
  display: none;
}
